.text-center {
    text-align: center;
    margin-top: 50px;
}


/*home page ke css*/
.display-1 {
    font-size: 3.5rem;
    font-weight: bold;
}





/* about me cvv  */





.contact-info {
    margin-bottom: 20px;
}

    .contact-info h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .contact-info p {
        margin-bottom: 10px;
    }

main {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



    li h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }

a {
    color: #337ab7;
    text-decoration: none;
}

    a:hover {
        color: #23527c;
    }



       






/*HMS ka sath logo image ha*/

.logoimage {
    width: 50px;
    height: 60px;
    border-radius: 400%;
    overflow:hidden;
    margin: 0 10px;
    }
/* home page ke css*/
.text-center {
    
    text-align: center;
    background-color: aqua; /* Set background color to light blue */
    color: blue; /* Set text color to blue */
    padding: 20px
}

    .text-center h1 {
        background-color: azure; /* Set the background color of the text to blue */
        color: black; /* Set the text color to white for better contrast */
        padding: 10px; /* Optional: Add padding inside the h1 tags */
        border-radius: 5px; /* Optional: Add rounded corners */
    }


    /* layout ka four button ke css*/
