@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width,
                       initial-scale=1.0">
        <link rel="stylesheet"
              href="~/css/Aboutme.css">
    </head>

    <body>
        <div class="full">
            <div class="left">
                <div class="image">
					<img src="~/images/fb_img_1618651381041.jpg"  style="width: 200px; height: 250px"/>
                </div>
                <div class="Contact">
                    <h2>Contact</h2>
                    <p>
                        <b>Email id:</b>haris@gmail.com
                    </p>
                    <p>
                        <b>Mobile no :</b>1234563433
                    </p>
                </div>
                <div class="Skills">
                    <h2>Skills</h2>
                    <ul>
                        <li>
                            <b>
                                Programming Languages :
                                Python, Java, C++
                            </b>
                        </li>
                        <li>
                            <b>
                                Frontend : HTML5, CSS,
                                JavaScript, React
                            </b>
                        </li>
                        <li>
                            <b>Backend : .net</b>
                        </li>
                    </ul>
                </div>
                <div class="Language">
                    <h2>Language</h2>
                    <ul>
                        <li>English</li>
                        <li>Urdu</li>
                    </ul>
                </div>
                <div class="Hobbies">
                    <h2>Hobbies</h2>
                    <ul>
                        <li>Playing cricket</li>
                        <li>Swimming</li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="name">
                    <h1>Haris Hamayun</h1>
                </div>
                <div class="title">
                    <p>Miscrosoft.Net Developer</p>
                </div>
                <div class="Summary">
                    <h2>Summary</h2>
                    <p>
                        To secure a challenging position in a
                        reputable organization
                        to expand my learning knowledge and skill
                    </p>
                </div>
                <div class="Experience">
                    <h2>Experience</h2>
                    <h3>Excellience Deleivered - Senior .Net Developer</h3>
                    <p>January 2024 to Present</p>
                    <ul>
                        <li>
                            Actively engaged in web creative
                            design and development.
                        </li>
                        <li>
                            Designing project & planning
                        </li>
                    </ul>
                    <h3>Excellience Deleivered- junior web developer</h3>
                    <p>August 2023 to December 2024</p>
                    <ul>
                        <li>Designing project & planning</li>
                        <li>Working on designing</li>
                    </ul>
                </div>
                <div class="Education">
                    <h2>Education</h2>
                    <table>
                        <tr>
                            <th>University  </th>
                            <th>Passing year  </th>
                            <th>percentage</th>
                        </tr>
                        <tr>
                            <td>haris</td>
                            <td>2020</td>
                            <td>8.9</td>
                        </tr>
                        <tr>
                            <td>pqr</td>
                            <td>2018</td>
                            <td>89%</td>
                        </tr>
                    </table>
                </div>
                <div class="project">
                    <ul>
                        <li>
                            <h2>Project1</h2>
                            <p>
                                This project is based on html
                                & used React
                            </p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </body>

    </html>

}


