@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome To HMS</h1>
    <h1 class="display-1"> Designed by: Haris Hamayun</h1>
    
    
   
    
</div>



