@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome To HMS</h1>
    <h1 class="display-1"> Designed by: Haris Hamayun</h1>

    <div id="visitCount">Total Visits: 0</div>
    <div id="totalPatients">Total Patients: @ViewBag.PatientCount</div>
    <div id="totalDoctors">Total Doctors: 0</div>
    <div id="totalMembers">Total Members: 0</div>
    
   
    
</div>


      




